*{
	margin: 0; padding: 0; 

}

.main{
	width: 95%; height: auto;
	margin: 2%;
	
	
}

.titulo{
	text-align: center;
	padding: 2.5%;
	background: beige;


}

.texto-main{
	text-align: center;
	margin: 2%; margin-bottom: .5%;
}

.paginas{
	width: 98%; height:auto;
	 margin: 10%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
.paginas div > a{
	text-decoration: none; color: black; margin-bottom: 0;
}
paginas div > a:hover{
	color: white;
}
.paginas div:hover{
	background: grey;
	
}



.paginas div a{
	position: relative;
	top: 20%;
}
.paginas div{
padding: .6%; 
height: 250px; 
border: solid; 
margin: 2%; 
width: 15%;
}

.uno > img{
position: relativa;
z-index: 0;
max-width: 100%;
transition: transform .2s;
}
.uno > img:hover{
	transform: scale(.9);
}

@media screen and (max-width: 660px)
{
	.paginas div{
		width: 20%;
		padding: .6%; 
		height: 200px;  
		margin: 2%; 
		
				}

	.paginas{
	width: 100%; height:auto;
	 margin: 10%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
			}

}


.footer{
	width: 100%; height: auto;
	border: solid;
	background:black ;
	
}

.padre{
	margin: 2%;
	padding: .5%;margin-bottom: 1%;
	display: inline-block;

}
.padre > div{
	margin-bottom: 10%;
}
.padre div:hover{
	background: grey;
}

.footer div > a{
	text-decoration: none;
	color: white;
	font-size: 150%;

}


